body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    /*max-width: 900px;*/
    margin: 0 auto;
}

.fc-month-view .fc-more{
    color: red;
}
.legal-copyright{
    float:right;
}
aside {
    background: #1f8dd6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}
.fc-event {
    cursor: pointer;
}
.fc-h-event {
    border: none;
}

.fc-event.hide {
    display: none;
}
.primary {
    background-color: rgb(0, 120, 231);
}
.secondary {
    background-color: rgb(66, 184, 221);
}
.login {
    background-color: rgb(28, 184, 65);
}
.gacha {
    background-color: rgb(202, 60, 60);
}
.present {
    background-color: rgb(223, 117, 20);
}
.imgBanner {
    display: block;
}
.imgBanner img {
    width: 80%;
}