body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    /*max-width: 900px;*/
    margin: 0 auto;
}

.timeline {
    position: absolute;    
    border:0; height:1px;
    background-color:red;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}

.fc-month-view .fc-more{
    color: red;
}
.legal-copyright{
    float:right;
}
aside {
    background: #1f8dd6;
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
}
#zeroNotify{
    position: relative;
}
#zeroNotify p {
    position: absolute;
    color: white;
    bottom: -5%;
    height: 15%;
    width: 80%;
    min-height: 30px;
    max-width: 800px;
    padding-left: 10px;
    padding-top: 10px;
    background: linear-gradient(left,rgba(0, 0, 0, .9),rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(letf,rgba(0, 0, 0, .9),rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, .9),rgba(0, 0, 0, 0));
}
table .fc-event.fc-start.fc-not-end::before{
    border: 1px solid transparent;
    width: 8%;
    height: 100%;
    content: " ";
    background-color: green;
    position: absolute;
    left: -1px;
    top: -1px;
}
table .fc-event.fc-not-start.fc-end::after{
    border: 1px solid transparent;
    width: 8%;
    height: 100%;
    content: " ";
    background-color: red;
    position: absolute;
    right: -1px;
    top: -1px;
}

.zeroEvent-red{
    background-color: rgb(96, 20, 20);
}

.zeroEvent-yellow{
    background-color: rgb(140, 124, 48);
}

.zeroEvent-blue{
    background-color: rgb(38, 55, 94);
}